.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rect {
  position: relative;
  border: 6px solid #000;
  width:320px;
  height:320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.pointer {
  background: rgb(26, 168, 26);
  width:24px;
  height:24px;
  border-radius:20px;
  position: absolute;
  margin:-15px;
  opacity: 0;
}

.header{
  position: absolute;
  bottom:0; height:100%; left:50px;
  width:250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom:0; top:0; right:100px;
  z-index:100;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:all 0.3s;
}

.footerItem {
  margin:40px 0;
}


@media screen and (max-width: 720px) {
  .rect {
    border: 3px solid #000;
    width:160px;
    height:160px;
  }
  .pointer {
    background: rgb(26, 168, 26);
    width:13px;
    height:13px;
    border-radius:12px;
    position: absolute;
    margin:-8px;
    opacity: 0;
  }
  .header{
    text-align: center;
    bottom:0;  left:0; right:0;
    height:100px; 
    width:100%;
  }
  .footer {
    position: absolute;
    left:0; right:0; height:100px; 
    z-index:100;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition:all 0.3s;
  }
  .footerItem {
    margin:0 10px;
  }
  
}